html
  height: 100%
body
  height: 100%
  width: 100%
  background: white
  font: 14px "century gothic", tahoma, "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0
a
  color: #00B7FF
#header
  height: 10%
  width: 100%
  background-color: white
#map
  width: 100%
  height: 100%
  position: absolute
  float: left
  background-color: orange
#feed
  width: 20%
  height: 100%
  float: right
  opacity: 0.8
  background-color: white
  z-index: 1