html
  height: 100%
body
  height: 100%
  width: 100%
  background: blue
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0
a
  color: #00B7FF
#header
  height: 10%
  width: 100%
  float: left
  background-color: red
#map
  width: 80%
  height: 90%
  float: left
  background-color: orange
#feed
  width: 20%
  height: 90%
  float: left
  opacity: 0.8
  background-color: yellow